/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the SignIn and SignUp alerts background. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--bs-gray-200);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.folder-section {
  align-content: center;
  margin-right: 5px;
  overflow-y: auto;
}

.bill-section {
  outline: gray solid thin;
  overflow-y: auto;
}

.bill-button-spacing {
  margin: 3px 5px 3px 0;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  font-weight: normal;
}

.table {
  margin-bottom: 1px;
}

.view-bill-container {
  align-content: center;
  justify-content: center;
  align-items: center;
  border-style: outset;
  border-spacing: inherit;
  padding: 100px;
}

.view-bill-columns {
  margin: 2px 2px 4px;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  align-items: center;
  justify-content: center;
}

.col {
  margin: 4px;
}